.layout
  .el-header
    width: 100%
    height: 20em
    background-color: aquamarine
    display: flex
    justify-content: center


  .el-container
    height: 1200px


  .el-aside
    width: 5%
    background-color: antiquewhite


  .el-main
    width: 95%
    background-color: aqua


  .el-footer
    width: 100%
    background-color: cadetblue
    display: flex
    justify-content: center
